body {
  font-family: 'Raleway', sans-serif; }

.navbar-default {
  transition: background-color 0.5s ease-in;
  background-color: transparent;
  border-color: transparent; }

.navbar-default.affix {
  background-color: #2c3e50; }

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
  color: #ddd; }

.navbar-default .navbar-nav > li {
  border-bottom: 5px solid transparent;
  transition: border-color 0.5s ease-in; }

.navbar-default .navbar-nav > li.active {
  border-color: #27ae60; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover {
  background-color: transparent;
  color: #fff; }

.modal-backdrop.in {
  opacity: 0.8; }

.modal .modal-header {
  background-color: #2c3e50;
  color: #ecf0f1;
  border-radius: 4px 4px 0 0; }
  .modal .modal-header button.close {
    color: #ecf0f1;
    transform: scale(2); }
.modal .modal-body, .modal .modal-footer {
  background-color: #bdc3c7; }
.modal .modal-footer {
  border-radius: 0 0 4px 4px;
  border-top: none; }

#scroll_up {
  width: 2em;
  height: 2em;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 2em;
  border-radius: 50%;
  line-height: 2em;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 1em;
  right: 1em; }

#scroll_up.affix-top {
  visibility: hidden; }

#scroll_up.affix {
  visibility: visible; }

.sr-only {
  position: relative; }

#landing {
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100vh;
  text-align: center; }
  #landing p {
    margin: 0 0 10px;
    text-align: center;
    padding-top: 4em;
    padding-right: 5%;
    padding-left: 5%; }
  #landing #landing-carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/images/home-bg.jpg");
    background-repeat: no-repeat; }
    #landing #landing-carousel h1 {
      font-size: 16vmin;
      font-weight: 100; }
    #landing #landing-carousel h3 {
      font-size: 8vmin;
      font-weight: 100; }

#name_div {
  padding-top: 25vmin; }

#name {
  font-size: 12vmin; }

#work {
  background-color: #bdc3c7;
  border: 1px solid #bdc3c7;
  color: #2c3e50;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0; }
  #work h1 {
    font-size: 4vw; }
  #work p.tagline {
    font-size: 2vw;
    margin-bottom: 10vh; }
  #work .project {
    margin-bottom: 2em;
    position: relative; }
    #work .project .glyphicon {
      display: none; }
  #work .project:hover .glyphicon {
    display: inline-block;
    color: #ecf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em; }
  #work .project::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease-in; }
  #work .project:hover::after {
    background-color: rgba(30, 30, 30, 0.6); }

#skills {
  background-color: #A2DED0;
  min-height: 100vh;
  text-align: center;
  padding: 3em 0; }
  #skills .heading h2 {
    color: #fff;
    font-size: 2.5em;
    font-weight: 500; }
  #skills .skill-top {
    margin-top: 4em; }
  #skills .divider {
    background-color: #333;
    height: 2px;
    width: 80px;
    margin: 30px auto; }
  #skills .skillsArea {
    padding: 0px; }
    #skills .skillsArea .skills {
      margin: 0 auto;
      text-align: center;
      padding: 0px;
      float: none; }
      #skills .skillsArea .skills .percent {
        color: #000;
        display: inline-block;
        font-size: 1.8em;
        line-height: 60px;
        margin-top: 2em; }
      #skills .skillsArea .skills h4 {
        text-transform: uppercase;
        padding: 0;
        color: #000; }
  #skills .skill-mid {
    margin-top: 4em; }
  #skills .chart {
    position: relative;
    display: inline-block;
    width: 152px;
    height: 152px;
    margin-bottom: 26px;
    text-align: center; }
    #skills .chart canvas {
      position: absolute;
      top: 0;
      left: 0; }

#contact {
  background-color: #16a085;
  height: 15em;
  padding-top: 5em; }
  #contact #get_contact:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1); }
  #contact #head {
    margin-top: 0px;
    text-align: center; }
  #contact #para {
    text-align: center; }
  #contact .icons {
    text-align: center; }
  #contact .icons .face {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: #d5d5ce;
    color: white;
    font-weight: bold; }
    #contact .icons .face:hover {
      background-color: #3b5998;
      transition: all 0.5s; }
  #contact .icons .link {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: #d5d5ce;
    color: white; }
  #contact .icons .git {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: #d5d5ce;
    color: white; }

/*# sourceMappingURL=styles.css.map */
