body {
  font-family: 'Raleway', sans-serif;
}

.navbar-default {
  transition: background-color 0.5s ease-in;
  background-color: transparent;
  border-color: transparent;
}

.navbar-default.affix {
  background-color: #2c3e50;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #ddd;
}

.navbar-default .navbar-nav>li {
  border-bottom: 5px solid transparent;
  transition: border-color 0.5s ease-in;
}

.navbar-default .navbar-nav>li.active {
  border-color: #27ae60;
}

.navbar-default .navbar-nav>li.active > a,
.navbar-default .navbar-nav>li.active > a:hover {
  background-color: transparent;
  color: #fff;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal {
  .modal-header {
    background-color: #2c3e50;
    color: #ecf0f1;
    border-radius: 4px 4px 0 0;

    button.close {
      color: #ecf0f1;
      transform: scale(2);
    }
  }

  .modal-body, .modal-footer {
    background-color: #bdc3c7;
  }

  .modal-footer {
    border-radius: 0 0 4px 4px;
    border-top: none;
  }
}

#scroll_up {
  width: 2em;
  height: 2em;
  background: rgba(0,0,0, 0.3);
  color: white;
  font-size: 2em;
  border-radius: 50%;
  line-height: 2em;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

#scroll_up.affix-top {
  visibility: hidden;
}

#scroll_up.affix {
  visibility: visible;
}

.sr-only {
  position: relative;
}

#landing {
  background-color: #2c3e50;
  color: #ecf0f1;
  height: 100vh;
  text-align: center;

  p{
    margin: 0 0 10px;
    text-align: center;
    padding-top: 4em;
    padding-right: 5%;
    padding-left: 5%;
  }

  #landing-carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('/images/home-bg.jpg');
    background-repeat: no-repeat;

    h1 {
      font-size: 16vmin;
      font-weight: 100;
    }

    h3 {
      font-size: 8vmin;
      font-weight: 100;
    }
  }
}
#name_div{
  padding-top: 25vmin;
}
#name{
  font-size: 12vmin;
}
#work {
  background-color: #bdc3c7;
  border: 1px solid #bdc3c7;
  color: #2c3e50;
  min-height: 100vh;
  text-align: center;
  padding: 15vh 0;

  h1 {
    font-size: 4vw;
  }

  p.tagline {
    font-size: 2vw;
    margin-bottom: 10vh;
  }

  .project {
    margin-bottom: 2em;
    position: relative;

    .glyphicon {
      display: none;
    }
  }

  .project:hover .glyphicon {
    display: inline-block;
    color: #ecf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
  }

  .project::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.3s ease-in;
  }

  .project:hover::after {
    background-color: rgba(30, 30, 30, 0.6);
  }
}


#skills{
  background-color: #A2DED0;
  min-height: 100vh;
  text-align: center;
  padding: 3em 0;

  .heading h2{
    color: #fff;
    font-size: 2.5em;
    font-weight: 500;
  }

  .skill-top{
    margin-top: 4em;
  }

  .divider{
    background-color: #333;
    height: 2px;
    width: 80px;
    margin: 30px auto
  }

  .skillsArea{
    padding: 0px;

    .skills{
      margin: 0 auto;
      text-align: center;
      padding: 0px;
      float: none;

      .percent {
        color: #000;
        display: inline-block;
        font-size: 1.8em;
        line-height: 60px;
        margin-top: 2em;
      }

      h4{
        text-transform:uppercase;
        padding: 0;
        color: #000;
      }
    }
  }

  .skill-mid{
    margin-top: 4em;
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 152px;
    height: 152px;
    margin-bottom: 26px;
    text-align: center;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#contact {
  background-color: #16a085;
  // height: 100vh;
  height:15em;
  padding-top: 5em;

  // .form-horizontal{
  //   position: relative;
  //   padding-top: 30vh;
  //   margin-left: 25em;
  //   width: 129vmin;
  //
  // }
  //

  #get_contact:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
  }

  #head{
    margin-top: 0px;
    text-align: center;

  }
  #para{
    text-align: center;
  }
  .icons{
    text-align: center;
  }
 .icons .face {
    border-radius: 50%;
    padding: 9px 12px;
    background-color: #d5d5ce;
    color: white;
    font-weight: bold;
    &:hover{
      background-color: #3b5998;
      transition: all 0.5s;
    }
}
.icons .link {
   border-radius: 50%;
   padding: 9px 12px;
   background-color: #d5d5ce;
   color: white;
}
.icons .git {
   border-radius: 50%;
   padding: 9px 12px;
   background-color: #d5d5ce;
   color: white;
}
}
